[user]
	email = "fulstaph@gmail.com"
	name = George Kvaratskhelia

[core]
    editor = nvim

[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    unstage = reset HEAD --

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
