layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[bg=#31748f,fg=#191724,bold] [ {session} ] #[bg=#1f1d2e] {tabs}"
                format_right  "{mode} #[bg=#26233a,fg=#e0def4] {datetime}"
                format_space  "#[bg=#1f1d2e] "

                border_enabled  "false"
                hide_frame_for_single_pane "true"

                mode_locked   "#[bg=#26233a,fg=#6e6a86] LOCKED "
                mode_normal   "#[bg=#f6c177,fg=#191724,bold] NORMAL "
                mode_pane     "#[bg=#ebbcba,fg=#191724,bold] PANE "
                mode_tab      "#[bg=#c4a7e7,fg=#191724,bold] TAB "
                mode_scroll   "#[bg=#9ccfd8,fg=#191724,bold] SCROLL "
                mode_session  "#[bg=#eb6f92,fg=#191724,bold] SESSION "
                mode_resize   "#[bg=#f6c177,fg=#191724,bold] RESIZE "
                mode_move     "#[bg=#ebbcba,fg=#191724,bold] MOVE "
                mode_default_to_mode "normal"

                tab_normal              "#[bg=#1f1d2e,fg=#6e6a86] {index}:{name} "
                tab_normal_fullscreen   "#[bg=#1f1d2e,fg=#6e6a86] {index}:{name} [Z] "
                tab_normal_sync         "#[bg=#1f1d2e,fg=#6e6a86] {index}:{name} [S] "

                tab_active              "#[bg=#ebbcba,fg=#191724,bold] {index}:{name}* #[bg=#1f1d2e] "
                tab_active_fullscreen   "#[bg=#ebbcba,fg=#191724,bold] {index}:{name}* [Z] #[bg=#1f1d2e] "
                tab_active_sync         "#[bg=#ebbcba,fg=#191724,bold] {index}:{name}* [S] #[bg=#1f1d2e] "

                datetime        "#[fg=#e0def4] {format} "
                datetime_format "%H:%M"
            }
        }
    }

    tab name="dev" focus=true {
        pane split_direction="vertical" {
            pane name="Neovim" size="60%" focus=true command="nvim" {
                close_on_exit false
            }
            pane name="Oh My Pi" size="40%" command="omp" {
                close_on_exit false
            }
        }
    }

    tab name="terminal" {
        pane name="terminal"
    }

    swap_tiled_layout name="side-by-side" min_panes=2 max_panes=2 {
        tab {
            pane split_direction="vertical" {
                pane size="60%"
                pane size="40%"
            }
        }
    }

    swap_tiled_layout name="with-terminal" min_panes=3 {
        tab {
            pane split_direction="vertical" {
                pane size="60%"
                pane size="40%" split_direction="horizontal" {
                    pane size="70%"
                    pane size="30%"
                }
            }
        }
    }
}
